<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<TokenOptions>
		<Audience>engin@engin.com</Audience>
		<Issuer>engin@engin.com</Issuer>
		<AccessTokenExpiration>10</AccessTokenExpiration>
		<SecurityKey>mysupersecretkeymysupersecretkey</SecurityKey>
	</TokenOptions>
	<Logging>
		<LogLevel>
			<Default>Information</Default>
			<Microsoft>Warning</Microsoft>
			<Microsoft.Hosting.Lifetime>Information</Microsoft.Hosting.Lifetime>
		</LogLevel>
	</Logging>
	<AllowedHosts>*</AllowedHosts>
</configuration>